<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>QuickVerse</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true />
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false />
      <key>NSAllowsLocalNetworking</key>
      <true />
      <key>NSExceptionDomains</key>
      <dict>
        <key>prd.quickverse.in</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true />
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.3</string>
        </dict>
      </dict>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>QuickVerse needs access to your photo library so you can upload images when required.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to provide accurate delivery services, show nearby vendors, and
      personalize your experience.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to provide accurate delivery services, show nearby vendors, and
      personalize your experience.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>We need to send you notifications about your orders, promotions, and important updates.</string>
    <key>RCTNewArchEnabled</key>
    <true />
    <key>UIAppFonts</key>
    <array>
      <string>BricolageGrotesque.ttf</string>
      <string>BricolageGrotesque-Regular.ttf</string>
      <string>BricolageGrotesque-Bold.ttf</string>
      <string>BricolageGrotesque-Medium.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>MaterialDesignIcons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>AntDesign.ttf</string>
      <string>Feather.ttf</string>
      <string>FontAwesome6_Brands.ttf</string>
      <string>FontAwesome6_Regular.ttf</string>
      <string>FontAwesome6_Solid.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false />
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>amazonpay</string>
      <string>upi</string>
      <string>credpay</string>
      <string>bhim</string>
      <string>paytmmp</string>
      <string>phonepe</string>
      <string>tez</string>
      <string>navipay</string>
      <string>mobikwik</string>
      <string>myairtel</string>
      <string>popclubapp</string>
      <string>super</string>
      <string>kiwi</string>
      <string>simplypayupi</string>
      <string>whatsapp</string>
    </array>
  </dict>
</plist>
